.guides {
    display: grid;
    padding: 0 1rem 3rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.guides p {
    margin: 0;
}

.wrapper {
    position: relative;
    padding-top: 24px;
}

@media (min-width: 668px) {
    .guides {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.guide {
    border: 1px solid var(--ifm-toc-border-color);
    color: var(--ifm-font-color-base);
    cursor: pointer;
    border-radius: var(--ifm-border-radius);
    text-decoration: none !important;
    padding: 1rem 0 !important;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
}

.guide:hover {
    border-color: var(--ifm-tiles-link-hover-color);
    color: var(--ifm-font-color-base);
}
